body {
    background-color: #2c3e50;
    color: #FA8072;

    margin: 0 auto;

    text-align: center;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1cm;
}

.form,
.greetings {
    display: none;
}

.showing {
    display: block;
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bgImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    animation: fadeIn 0.5s linear; 
}

.js-clock {
    position: static;
}